version: '2'
services:
  mysql:
    image: mysql:5.7.18
    volumes:
      - ./local-db-init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "root"
